* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    margin-left: 4.2rem;
    margin-right: 4.2rem;
}

ion-icon {
    font-size: 16px;
    color: rgb(125, 125, 125);
}

#top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid rgb(245, 245, 245);
}

#top-container #logo {
    width: 120px;
    height: 20px;
}

#top-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#top-nav nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 5em;
    padding: 0;
}

#top-nav form fieldset {
    border: none;
    margin: 0;
    padding: 5px;
}

#top-nav #membership {
    width: 11em;
    text-align: center;
    padding: 6px;
    border-radius: 20px;
    border: 1px solid;
    color: rgb(164, 164, 164);
}

#top-nav #submit {
    width: 2em;
    height: 2em;
    margin-left: 0.5em;
    border: none;
    border-radius: 50%;
    color: white;
    background-color: rgb(231, 57, 41);
}

#main-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#left-side {
    width: 65%;
    border-right: 2px solid rgb(245, 245, 245);
}

#left-side nav {
    height: 1.5em;
    width: 94%;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(245, 245, 245);
}

#left-side nav ul {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0;
    list-style-type: none;
}

#left-side nav ul li {
    margin-right: 1.2em;
}

#left-side nav ul li a {
    font-size: 0.6em;
    text-decoration: none;
    color: rgb(129, 129, 129);
}

#left-side nav ul li:nth-child(2) a {
    color: black;
    font-weight: bold;
    padding-bottom: 4px;
    border-bottom: 3px solid gray;
}

.card {
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1.6em;
}

.card .info {
    display: flex;
    flex-direction: column;
    width: 67%;
}

.card .image {
    width: 30%;
}

.card .image img {
    width: 100%;
}

.card .info .top {
    width: 80%;
    height: 1.2em;
    display: flex;
    align-items: center;
    justify-content: left;
}

.card .info .top img {
    width: 20px;
    margin-right: 8px;
}

.card .info .top p {
    font-size: 0.6em;
}

.card .info .middle h5 {
    margin-top: 0.4em;
    margin-bottom: 0;
}

.card .info .middle p {
    display: flex;
    flex-direction: column;
    color: rgb(125, 125, 125);
    font-size: 0.64em;
    margin-top: 0.4em;
    margin-bottom: 0.2em;
    line-height: 1.2em;
}

.card .info .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.2em;
}

.card .info .bottom .description {
    color: rgb(129, 129, 129);
    font-size: 0.54em;
}

.card .info .bottom .description span:nth-child(5) {
    padding: 4px;
    background-color: rgb(239, 239, 239);
    border-radius: 10px;
}

#right-side {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#right-side #connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.2em;
}

#right-side #connect #logos {
    display: flex;
    align-items: center;
}

#right-side #connect #logos img {
    width: 30px;
}

#right-side #connect .twitter-logo {
    color: rgb(47, 141, 239);
}

#right-side #connect #text {
    width: 70%;
    color: rgb(83, 83, 83);
    text-align: center;
    font-size: 0.7em;
}

#right-side #connect #link button {
    display: flex;
    align-items: center;
    padding: 8px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 20px;
    background-color: white;
    margin-bottom: 0.8em;
}

#right-side #connect #link button span {
    font-size: 0.9em;
    color: rgb(57, 57, 57);
    margin-left: 6px;
}

#right-side #connect #later a {
    color: rgb(128, 128, 128);
    font-size: 0.6em;
}

#right-side #line {
    width: 80%;
    border: 1px solid rgb(229, 229, 229);
    margin-top: 0.8em;
}

#right-side #recommended {
    width: 80%;
    display: flex;
    flex-direction: column;
}

#right-side #recommended h6 {
    margin-bottom: 1em;
}

#right-side #recommended #topics {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#right-side #recommended #topics button {
    margin-bottom: 0.60em;
    margin-right: 0.60em;
    min-width: 45px;
    border: none;
    padding: 8px;
    font-size: 0.6em;
    border-radius: 20px;
    background-color: rgb(239, 239, 239);
}

#right-side #follow {
    width: 80%;
    display: flex;
    flex-direction: column;
}

#right-side #follow h6 {
    margin-bottom: 1.2em;
}

#right-side #follow .who {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

#right-side #follow .who .profile {
    display: flex;
    justify-content: space-between;
}

#right-side #follow .who .profile img {
    width: 38px;
    height: 38px;
}

#right-side #follow .who .profile .profession {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 0.3em;
}

#right-side #follow .who .profile .profession p {
    font-size: 0.7em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.2em;
}

#right-side #follow .who .profile .profession span {
    color: rgb(154, 154, 154);
    font-size: 0.6em;
    line-height: 1.3em;
}

#right-side #follow .who button {
    min-width: 48px;
    font-size: 0.6em;
    padding: 4px;
    background-color: white;
    border: 1px solid rgb(125, 125, 125);
    border-radius: 20px;
}

#right-side #saved {
    width: 80%;
    display: flex;
    flex-direction: column;
}

#right-side #saved h6 {
    margin-top: 0.8em;
    margin-bottom: 1.2em;
}

#right-side #saved .top {
    width: 80%;
    height: 1.2em;
    display: flex;
    align-items: center;
    justify-content: left;
}

#right-side #saved .top img {
    width: 20px;
    margin-right: 6px;
}

#right-side #saved .top p {
    font-size: 0.5em;
}

#right-side #saved h6:nth-child(3) {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    line-height: 1.2em;
}

#right-side #saved .description {
    color: rgb(129, 129, 129);
    font-size: 0.54em;
}

#right-side #saved .description .star {
    font-size: 8px;
    margin-left: 4px;
}

#right-side #messages {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 1.2em;
}

#right-side #messages .top {
    width: 80%;
    height: 1.2em;
    display: flex;
    align-items: center;
    justify-content: left;
}

#right-side #messages .top img {
    width: 20px;
    margin-right: 6px;
}

#right-side #messages .top p {
    font-size: 0.5em;
}

#right-side #messages h6 {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    line-height: 1.2em;
}

#right-side #messages .description {
    color: rgb(129, 129, 129);
    font-size: 0.54em;
}

#right-side #messages #see-all {
    margin-top: 0.8em;
}

#right-side #messages #see-all a {
    color: rgb(72, 149, 64);
    font-size: 0.62em;
    text-decoration: none;
}

#bottom-nav nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 7%;
    margin-top: 3em;
}

#bottom-nav nav ul li a {
    color: gray;
    text-decoration: none;
    font-size: 0.64em;
    padding: 8px;
    margin-right: 2px;
}